<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventHub - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='RSET.jpg') }}" alt="Logo" class="center-logo">
    <h1>Upcoming Events</h1>
    <ul>
        {% for event in events %}
        <li>
            <a href="{{ url_for('event_detail', event_id=event[0]) }}">{{ event[1] }}</a> - {{ event[2] }}
        </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('create_event') }}">Create New Event</a> <!-- Add this link -->
</body>
</html>
